{% extends "bootstrap/base.html" %}

{% block html_attribs %} lang="pt-br"{% endblock %}
{% block title %} DAV-Sistemas {% endblock title %}

{% block content %}
<div class="container">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="/index">SysPDV</a></li>
      <li role="presentation"><a href="/dns">DNS</a></li>
    </ul>
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Loja</th>
                <th>SITEF</th>
                <th>SYSPDVWEB</th>
                <th>CRM</th>
                <th>VALE GÁS</th>
            </tr>
        </thead>
        <tbody>
            {% for cod_loja, sitef, syspdvweb, crm, vale_gas in consulta %}
            {% if sitef == '10.5.10.241' and syspdvweb == 'HTTP://172.31.5.207:8081' and crm == '172.31.5.8' and vale_gas == '172.31.5.3' %}
            <tr class="success">
            {% elif sitef == '10.5.10.241' and syspdvweb != 'HTTP://172.31.5.207:8081' and crm != '172.31.5.8' and vale_gas != '172.31.5.3' %}
            <tr class="danger">
            {% else %}
            <tr class="warning">
            {% endif %}
                <td>{{ cod_loja }}</td>
                {% if sitef == '10.5.10.241' %}
                <td>OK</td>
                {% else %}
                <td>X</td>
                {% endif %}
                {% if syspdvweb == 'HTTP://172.31.5.207:8081' %}
                <td>OK</td>
                {% else %}
                <td>X</td>
                {% endif %}
                {% if crm == '172.31.5.8' %}
                <td>OK</td>
                {% else %}
                <td>X</td>
                {% endif %}
                {% if vale_gas == '172.31.5.3' %}
                <td>OK</td>
                {% else %}
                <td>X</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>

{%endblock content%}